<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head') %>
    </head>

    <%- include ('../../partials/header') %>

        <body>
            <h1>
                User profile
            </h1>
            <p>
                
            </p>
        <div>
            <button class="btn btn-primary" onclick="window.location.href='/me/campaigns'">My campaigns</button>
        </div>

        <div>
            <button class="btn btn-primary" onclick="window.location.href='/me/rooms'">My rooms</button>
        </div>

        </body>

        <footer>

        </footer>

</html>