<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    </head>
    <%- include ('../partials/header') %>

        <body>
            <div class="col-sm-4 w-full flex justify-center items-center">
                <div
                    class="card mx-auto w-1/2 p-8 my-8 flex flex-col justify-center items-left border border-gray-300 gap-4">
                    <div class="flex justify-center items-center mb-8 w-full border border-b border-gray-300">
                        <%- include ('../partials/google-button') %>
                    </div>
                    <div id="register"
                        class="border-b-2 border-gray-300 pb-4 mb-4 flex justify-left items-center flex-col w-1/2">
                        <form action="/auth/register" method="post">
                            <div class="form-group flex flex-col justify-left items-left mb-4">
                                <label for="username">Username</label>
                                <input type="text" class="form-control border-b border-gray-300" id="username"
                                    name="username" required>

                                <label for="email">Email</label>
                                <input type="email" class="form-control border-b border-gray-300 " id="email"
                                    name="email" required>

                                <label for="password">Password</label>
                                <input type="password" class="form-control border-b border-gray-300" id="password"
                                    name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                    <div id="login" class="pb-4 mb-4 flex justify-left items-center flex-col w-1/2">
                        <form action="/auth/login" method="post" class="w-full flex flex-col justify-left items-center">
                            <div class="form-group form-group flex flex-col justify-left items-left mb-4">
                                <label for="email">Email</label>
                                <input type="email" class="form-control border-b border-gray-300" id="email"
                                    name="email" required>

                                <label for="password">Password</label>
                                <input type="password" class="form-control border-b border-gray-300" id="password"
                                    name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>

        </body>

        <footer>

        </footer>

</html>