<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
  </head>

  <%- include ('../partials/header') %>

    <body>
      <h1>
        Search your perfect team!
      </h1>
      <%- include ('../partials/campaign-search-bar') %>
        <script>
        </script>
        <%- include('../partials/campaign-list',{campaigns:campaigns, searchParams: searchParams}) %>
    </body>

    <footer>

    </footer>

</html>