<!DOCTYPE html>
<html lang="en">

<- include('../partials/header') %>
</head>

<body>
  <h1>
    This is a Roll To Match Page
  </h1>
  <%- include('../partials/campaign-list',{campaigns:campaigns}) %>
</body>

<footer>

</footer>

</html>