<!DOCTYPE html>
<html lang="en">

<head>
  <title>Roll to Match: TTRPG Game Finder</title>
</head>

<body>
  <h1>
    This is a Roll To Match Page
  </h1>
  <%- include('partials/campaign-list',{campaigns:campaigns}) %>
</body>

<footer>

</footer>

</html>