<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    </head>

    <%- include ('../partials/header') %>
<body>
  <h1>
    This is a Roll To Match Page
  </h1>
  <%- include('../partials/campaign-list',{campaigns:campaigns}) %>
</body>

<footer>

</footer>

</html>