<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header') %>
    </head>

    <body>
        <h1>
            All your rooms
        </h1>
        <%- include('../partials/room-card-list', { rooms: rooms }) %>

    </body>

    <footer>

    </footer>

</html>