<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header') %>
    </head>

    <body>
        <h1>
            Room <%= room.title %>
        </h1>
        <%- include('../partials/room-card-large', { room: room }) %>

    </body>

    <footer>

    </footer>

</html>